

/* Global Styles 
----------------------------------------*/

/* Border Box Fix */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: Monokai, sans-serif;
	/* text-align: center; */
	line-height: 125%;
	margin: 0;
	padding: 0;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

h1 { /* Project Name */
	color: #322738;
	font-size: 30px;
	margin: 0;
}

h3 { /* Type or Role */
	color: #848586;
	padding-top: 10px;
	padding-bottom: 20px;
	margin: 0;
}


/* Navigation Bar
----------------------------------------*/
.navigation {
	background: #322738;
}

.nav-wrapper {
	text-align: center;
}

.nav-wrapper p {
	display: inline-block;
	padding: 0 50px 0;
}

.nav-link {
	color: white;
	text-decoration: none;

}
.nav-link:hover {
	text-decoration: underline;
}

/* Projects Section
----------------------------------------*/
.content {
	display: flex;
	flex-direction: column;
}

.proj-EVEN {
	flex: 1;
	background: #F9E7E7;
	margin: 0;
	padding: 30px;

}
.proj-ODD {
	flex: 1;
	background: white;
	margin: 0;
	padding: 30px;

}


.content-wrapper img {
	float: left;
	padding-right: 20px;
}

.content-wrapper a { /* link buttoms */
	background: #322738;
	color: white;
	border-radius: 5px;
	text-decoration: none;
	padding: 6px;
}

.content-wrapper a:hover { /* link buttoms */
	background: rgba(50, 39, 56, 80%);
}

.content-wrapper p {
	margin: 0;
}








